@model IEnumerable<Dashboard.Models.ApplicationUser>
@{
    ViewBag.Title = "All Users List";
}
<h2>List of all the users</h2>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MyUserInfo.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MyUserInfo.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MyUserInfo.IsActive)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
            <td>@Html.DisplayFor(modelItem => item.MyUserInfo.FirstName)</td>
            <td>@Html.DisplayFor(modelItem => item.MyUserInfo.LastName)</td>
            <td>@Html.DisplayFor(modelItem => item.MyUserInfo.IsActive)</td>

            <td>
                @if (User.Identity.Name == "Admin")
                {
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id })}
                @*@Html.ActionLink("Details", "Details", new { id = item.Id }) |*@
                @*@Html.ActionLink("Block", "Block", new { id = item.Id })*@

            </td>
        </tr>
    }
</table>